// Шрифт
$font-family-default: 'Roboto', sans-serif;
$font-path: 'assets/fonts/';
$font-weight-regular: 400;
$font-weight-medium: 500;

// Цвета
$text-color-primary: #000;
$text-color-secondary: #C4C4C4;

$page-bg: #FFF;
$cover-bg: #C4C4C4;
$block-bg: #FFF;
