@import 'styles/_variables';

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Regular.ttf') format('truetype');
    font-weight: $font-weight-regular;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}Roboto-Medium.ttf') format('truetype');
    font-weight: $font-weight-medium;
    font-style: normal;
}

body {
    background-color: $page-bg;
    color: $text-color-primary;
    font-family: $font-family-default;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    font-weight: $font-weight-regular;
}

button {
    border: none;
    background-color: unset;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    cursor: pointer;
}